
#gamecanvas{
	width: 50%;
	height: auto;
	margin: 0 auto;
	display: block;
	float: center;
	transform: translateY(30%);
}

.three-canvas{
  margin: 0 auto;
  display: block;
  float: center;
}

/* .game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid yellow ;
} */